html{
box-sizing: border-box;
background-color: lightblue;
font-size: 87%;/*16px*0.87 = 13px 縮小文字 
盡量以比例去設*/
}

*,*:before, *after{
    box-sizing: inherit;
}


.container{
    max-width:940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: aliceblue;
}

/*header*/
.header{
color:blue;
padding-top: 20px;
padding-bottom: 20px;
}

.header-title{
margin:0%;

}

.header-slogan{
margin:0%;

}
/*nav*/
.nav{

}

.nav-list{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.nav-item{
list-style: none;
margin-right: 2px;
position: relative; /* 加上這行 */
}

.nav-link{
display:block;
border: 2px solid;
padding: 5px 10px;
color: lightslategray;
text-decoration: none;
}

.nav-link:hover{
background-color: lightskyblue;
}

.nav-sublist{
    text-decoration: none;
    position:absolute;
    top:100%;
    margin: 0%;
    padding: 0%;
    display:none;
    background-color: aliceblue;
}

.nav-item:hover .nav-sublist{
    display:block;
}
/*全部文字區塊*/
.content{
display:flex;/*flex-direction:column;本來就是*/
border-top: 2px solid;
border-bottom: 2px solid /*#color*/;
color: blueviolet;
}
/*左文字*/
.main-area{
    width:66%;
    padding-right: 40px;
}

/*右文字*/
.sidebar{
    width:34%;
    padding: 20px 40px;
}
.footer{
    font-size: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-items: center;
/*地址 圖 連結 分享資訊*/
}
