html {
    box-sizing: border-box;
    background-color:#EDF2C5;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.left-head {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 44px;
  color: #778A50;
}

.right-head {
  display: flex;
  align-items: center;
  gap: 12px;                     
}

.line{
    width: 0px;
    height: 24px;
    left: 72px;
    opacity: 1;
    border: 1px solid #778A50
}

.right-head img {
  width: 24px;
  height: 24px;
}

.button {
  width: 62px;        
  height: 27px;        
  border: 1px solid #778A50;
  background: #EDF2C5;
  color: #778A50;
  padding: 4px 8px;
  cursor: pointer;
}

.nav {
    width: 1120px;
    height: 44px;
    border-radius: 3px;
    background-color: #778A50;
    margin: 8px auto 16px auto; /* ← 用 auto 讓整個 nav 置中 */
}


.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:31px;
}
.nav-item{
    padding-left: 30px;
}
.nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #F7FBDA;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.pi {
    display: block;
    width: 1120px;
    height: 448px;
    opacity: 1;
    margin: 0 auto 32px auto; 
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1120px;      
    margin: 0 auto;     
}


.left, .right {
    width: 528px;
}


.ve {
    background: #778A50;
    color: #F7FBDA;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
        
    width: 528px;
    height: 45px;
    opacity: 1;
    border-radius: 3px;

    margin-bottom: 16px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}


.pii{
    width: 528px;
    height: 140px;
    top: 61px;
    opacity: 1;
    background-color:#EDF2C5;
    gap: 16px;
    display:flex;
    opacity: 1;
}



.co {
    background: #778A50;
    color: #F7FBDA;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 16px;
    width: 528px;
    height: 45px;
    opacity: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}



.text{
    display:block;
    color: #7D7D7D;
    background: #F7FBDA;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;       
    font-style: normal;     
    font-size: 12.5px;
    line-height: 1.5;        
    letter-spacing: 0;       
    width: 528px;
    height: 140px;
    top: 61px;
    opacity: 1;
    
    align-items: center;
    width: 100%;
    padding: 16px;
    padding-top: 16px;
}

.footer {
    width: 1440px;
    height: 60px;
    background: #778A50;
    border-radius: 3px;
    opacity: 1;
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #EDF2C5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}





